<div class="page-header">
  <h2>全部热点</h2>
</div>
<div class="content bg-warning">
	这是主页
	<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, necessitatibus veritatis eum error, cum, praesentium quae atque iusto sint ipsum iure. Quos dolore perspiciatis blanditiis ad, omnis reiciendis quae odio expedita nesciunt neque labore harum, in laborum delectus consectetur, animi architecto dicta accusantium repellendus! Quo maxime amet voluptate expedita! Placeat vel itaque quas enim nesciunt. Nulla facere, iure numquam exercitationem dicta deleniti recusandae cum voluptatem alias quos consequatur corporis ipsum sequi porro rerum, eligendi possimus at ex mollitia distinctio quaerat aspernatur quidem. Fuga culpa atque quos, adipisci repellendus voluptatem assumenda asperiores facere ad magnam! Accusantium numquam id, magni illum blanditiis!
</div>